<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Lode Runner Feed Server</display-name>
    <description>
    	Proof-of-concept Lode Runner Feed Server
    </description>

    <servlet id="abdera">
        <servlet-name>Abdera</servlet-name>
        <servlet-class>org.apache.abdera.protocol.server.servlet.AbderaServlet</servlet-class>
        <init-param>
          <param-name>org.apache.abdera.protocol.server.ServiceContext</param-name>
          <param-value>com.google.feedserver.server.FeedServerContext</param-value>
        </init-param>
    </servlet>

    <servlet-mapping id="abdera-mapping">
        <servlet-name>Abdera</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
